<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>To get help for this tutorial, go to the <a href="http://www.railstutorial.org/book">Rails tutorial book</a>
  .
</p>
